# Blender specific files
*.blend[0-9]*
blender_assets.cats.txt~

# Cinema 4D backup files
*.*@*
*.gi
*.gi2

# Houdini backup files
*_bak*.hip
*_bak*.hipnc

# Anchorpoint local files
.ap/
*.approj

# Other files
*.DS_Store
Thumbs.db
desktop.ini
